<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.AdjFactorMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.AdjFactor">
    <id column="security_id" property="securityId"/>
    <result column="trade_date" property="tradeDate"/>
    <result column="factor" property="factor"/>
    <result column="source" property="source"/>
    <result column="ingested_time" property="ingestedTime"/>
  </resultMap>

  <sql id="Base_Column_List">security_id, trade_date, factor, source, ingested_time</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM adj_factor
  </select>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM adj_factor WHERE security_id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM adj_factor WHERE security_id = #{id}
  </delete>

  <update id="updateById" parameterType="com.su.atlas.entity.AdjFactor">
    UPDATE adj_factor
    SET
      trade_date = #{tradeDate},
      factor = #{factor},
      source = #{source},
      ingested_time = #{ingestedTime}
    WHERE security_id = #{securityId}
  </update>

  <insert id="insert" parameterType="com.su.atlas.entity.AdjFactor">
    INSERT INTO adj_factor (
      security_id,
      trade_date,
      factor,
      source,
      ingested_time
    ) VALUES (
      #{securityId},
      #{tradeDate},
      #{factor},
      #{source},
      #{ingestedTime}
    )
  </insert>

</mapper>
