<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.CorporateActionMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.CorporateAction">
    <id column="action_id" property="actionId"/>
    <result column="security_id" property="securityId"/>
    <result column="action_date" property="actionDate"/>
    <result column="action_type" property="actionType"/>
    <result column="cash_per_share" property="cashPerShare"/>
    <result column="ratio" property="ratio"/>
    <result column="detail" property="detail"/>
    <result column="source" property="source"/>
    <result column="ingested_time" property="ingestedTime"/>
  </resultMap>

  <sql id="Base_Column_List">action_id, security_id, action_date, action_type, cash_per_share, ratio, detail, source, ingested_time</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM corporate_action
  </select>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM corporate_action WHERE action_id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM corporate_action WHERE action_id = #{id}
  </delete>

  <update id="updateById" parameterType="com.su.atlas.entity.CorporateAction">
    UPDATE corporate_action
    SET
      security_id = #{securityId},
      action_date = #{actionDate},
      action_type = #{actionType},
      cash_per_share = #{cashPerShare},
      ratio = #{ratio},
      detail = #{detail},
      source = #{source},
      ingested_time = #{ingestedTime}
    WHERE action_id = #{actionId}
  </update>

  <insert id="insert" parameterType="com.su.atlas.entity.CorporateAction">
    INSERT INTO corporate_action (
      action_id,
      security_id,
      action_date,
      action_type,
      cash_per_share,
      ratio,
      detail,
      source,
      ingested_time
    ) VALUES (
      #{actionId},
      #{securityId},
      #{actionDate},
      #{actionType},
      #{cashPerShare},
      #{ratio},
      #{detail},
      #{source},
      #{ingestedTime}
    )
  </insert>

</mapper>
