<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.MarketFactsDailyMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.MarketFactsDaily">
    <id column="security_id" property="securityId"/>
    <result column="trade_date" property="tradeDate"/>
    <result column="open" property="open"/>
    <result column="high" property="high"/>
    <result column="low" property="low"/>
    <result column="close" property="close"/>
    <result column="volume" property="volume"/>
    <result column="amount" property="amount"/>
    <result column="turnover_rate" property="turnoverRate"/>
    <result column="pct_chg" property="pctChg"/>
    <result column="average_price" property="averagePrice"/>
    <result column="suspension_flag" property="suspensionFlag"/>
    <result column="source" property="source"/>
    <result column="ingested_time" property="ingestedTime"/>
  </resultMap>

  <sql id="Base_Column_List">security_id, trade_date, open, high, low, close, volume, amount, turnover_rate, pct_chg, average_price, suspension_flag, source, ingested_time</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM market_facts_daily
  </select>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM market_facts_daily WHERE security_id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM market_facts_daily WHERE security_id = #{id}
  </delete>

  <update id="updateById" parameterType="com.su.atlas.entity.MarketFactsDaily">
    UPDATE market_facts_daily
    SET
      trade_date = #{tradeDate},
      open = #{open},
      high = #{high},
      low = #{low},
      close = #{close},
      volume = #{volume},
      amount = #{amount},
      turnover_rate = #{turnoverRate},
      pct_chg = #{pctChg},
      average_price = #{averagePrice},
      suspension_flag = #{suspensionFlag},
      source = #{source},
      ingested_time = #{ingestedTime}
    WHERE security_id = #{securityId}
  </update>

  <insert id="insert" parameterType="com.su.atlas.entity.MarketFactsDaily">
    INSERT INTO market_facts_daily (
      security_id,
      trade_date,
      open,
      high,
      low,
      close,
      volume,
      amount,
      turnover_rate,
      pct_chg,
      average_price,
      suspension_flag,
      source,
      ingested_time
    ) VALUES (
      #{securityId},
      #{tradeDate},
      #{open},
      #{high},
      #{low},
      #{close},
      #{volume},
      #{amount},
      #{turnoverRate},
      #{pctChg},
      #{averagePrice},
      #{suspensionFlag},
      #{source},
      #{ingestedTime}
    )
  </insert>

</mapper>
