<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.NewsSecurityMapMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.NewsSecurityMap">
    <result column="news_id" property="newsId"/>
    <result column="security_id" property="securityId"/>
    <result column="match_type" property="matchType"/>
    <result column="confidence" property="confidence"/>
    <result column="created_time" property="createdTime"/>
  </resultMap>

  <sql id="Base_Column_List">news_id, security_id, match_type, confidence, created_time</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM news_security_map
  </select>

  <insert id="insert" parameterType="com.su.atlas.entity.NewsSecurityMap">
    INSERT INTO news_security_map (
      news_id,
      security_id,
      match_type,
      confidence,
      created_time
    ) VALUES (
      #{newsId},
      #{securityId},
      #{matchType},
      #{confidence},
      #{createdTime}
    )
  </insert>

</mapper>
