<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.StrategyMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.Strategy">
    <id column="strategy_id" property="strategyId"/>
    <result column="strategy_name" property="strategyName"/>
    <result column="strategy_description" property="strategyDescription"/>
    <result column="universe" property="universe"/>
    <result column="bar_type" property="barType"/>
    <result column="params_schema" property="paramsSchema"/>
    <result column="code_ref" property="codeRef"/>
    <result column="created_time" property="createdTime"/>
  </resultMap>

  <sql id="Base_Column_List">strategy_id, strategy_name, strategy_description, universe, bar_type, params_schema, code_ref, created_time</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM strategy
  </select>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM strategy WHERE strategy_id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM strategy WHERE strategy_id = #{id}
  </delete>

  <update id="updateById" parameterType="com.su.atlas.entity.Strategy">
    UPDATE strategy
    SET
      strategy_name = #{strategyName},
      strategy_description = #{strategyDescription},
      universe = #{universe},
      bar_type = #{barType},
      params_schema = #{paramsSchema},
      code_ref = #{codeRef},
      created_time = #{createdTime}
    WHERE strategy_id = #{strategyId}
  </update>

  <insert id="insert" parameterType="com.su.atlas.entity.Strategy">
    INSERT INTO strategy (
      strategy_id,
      strategy_name,
      strategy_description,
      universe,
      bar_type,
      params_schema,
      code_ref,
      created_time
    ) VALUES (
      #{strategyId},
      #{strategyName},
      #{strategyDescription},
      #{universe},
      #{barType},
      #{paramsSchema},
      #{codeRef},
      #{createdTime}
    )
  </insert>

</mapper>
