<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.atlas.mapper.TradeFillMapper">

  <resultMap id="BaseResultMap" type="com.su.atlas.entity.TradeFill">
    <id column="fill_id" property="fillId"/>
    <result column="order_id" property="orderId"/>
    <result column="ts" property="ts"/>
    <result column="price" property="price"/>
    <result column="qty" property="qty"/>
    <result column="fee" property="fee"/>
    <result column="tax" property="tax"/>
    <result column="exchange_trade_id" property="exchangeTradeId"/>
    <result column="extra" property="extra"/>
  </resultMap>

  <sql id="Base_Column_List">fill_id, order_id, ts, price, qty, fee, tax, exchange_trade_id, extra</sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM trade_fill
  </select>

  <select id="selectById" parameterType="java.util.UUID" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM trade_fill WHERE fill_id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.util.UUID">
    DELETE FROM trade_fill WHERE fill_id = #{id}
  </delete>

  <update id="updateById" parameterType="com.su.atlas.entity.TradeFill">
    UPDATE trade_fill
    SET
      order_id = #{orderId},
      ts = #{ts},
      price = #{price},
      qty = #{qty},
      fee = #{fee},
      tax = #{tax},
      exchange_trade_id = #{exchangeTradeId},
      extra = #{extra}
    WHERE fill_id = #{fillId}
  </update>

  <insert id="insert" parameterType="com.su.atlas.entity.TradeFill">
    INSERT INTO trade_fill (
      fill_id,
      order_id,
      ts,
      price,
      qty,
      fee,
      tax,
      exchange_trade_id,
      extra
    ) VALUES (
      #{fillId},
      #{orderId},
      #{ts},
      #{price},
      #{qty},
      #{fee},
      #{tax},
      #{exchangeTradeId},
      #{extra}
    )
  </insert>

</mapper>
